<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mind Dump</title>
  <div th:replace="/fragments/styling :: head-style"></div>
</head>

<body>
  <div class="container">
    <div th:replace="/fragments/navbar :: navbar"></div>
    <h1>All Posts</h1>
    <div class="row" th:fragment="posts">
      <div th:each="blog:${posts}">
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" th:text="${blog.title}"></h5>
              <p th:text="${blog.author}"></p>
              <p th:text="${blog.blogEntry}"></p>
            </div>
            <div class="card-footer"></div>
          </div><!-- End of .card -->
        </div><!-- End of .col-sm -->
      </div><!-- End of posts loop -->
    </div>
  </div>
  <div th:replace="/fragments/styling :: body-links"></div>
</body>

</html>